/* p{
    font-size:30px;
    color:white;
} */
p{
    height: 200px;
    width: 800px;
    background-color: green;
    border: 1px solid #000;
    /* border-top:1px solid red　控制边框宽度;
    border-right: solid 1px red; */
    /* border-width:5px; */
    /* border-width:5px 10px; 上，左右，下的宽度 */
    border-width: 5px 10px 5px 10px; 
    /*如果是4个就是上右下左*/

    /* border-style:dotted; */
    border-style:solid solid solid solid;

    padding:30px;
    padding-top:100px;
    padding-left: 100px;
    padding-right:10px; /*内边距:padding*/

    /*外边距控制盒子之间的距离*/
    margin: auto; /*左右两边自动适应*/
    margin-top: 100px;
}
body{
    background-color:greenyellow;
    margin:0 px;
    padding: 0 px;
}
* {
    font-family: "黑体";
}
/* div p{
    balablalsa
} */
/* div{
    border:1 px solid red;
    background-color: ;
} */
/* .one{
    font-family: "宋体"; /*可以在所有标签上用到*/ /*通过<p.class="one">*使用*/
} 
*/
*{
   margin:30;
   padding: 30;
}
#one{  /*id选择器*/
    margin-bottom:100px;
    height:100px;
    width:500px;
    background-color: gray;
    float:left;
}
#one{  /*id选择器*/
    margin-bottom:100px;
    height:100px;
    width:500px;
    background-color: gray;
    float:left;
}
/*div为空块元素*/
div{
    margin-top:20px;
    margin-bottom:50px;
}

#three{
    margin-top:200px;
    margin-top:200px;
    height:0;
    width:0;
    border:50px solid transparent;
    border-top:red;
}